<br>
<br>
<div align="center">

  <div class="text-success">                                                                                                                                                      <div class="container">
<h1>Registration Form</h1>
</div>
<br>
  <div class="form">

<form class="" action="/reg_numbers" method="post">
  <input class="name" type="text" placeholder="Add registration" name="name" value=""></input>
  <button class="btn btn-primary btn" type="submit">Add</button>

</form>
      <!-- action="/greetings" -->

<form class="" action="/filter" method="post">

  <!-- <button class="btn btn-primary btn" type="reset" >Reset</button> -->
  <!-- <a href="/" class="btn-primary btn">Show</a> -->

  <br>
  <br>

  <a href="/filter"><button class="btn btn-primary btn" type="submit">Show</button></a>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-secondary">
      <input type="radio" name="options" value="CE" id="malmesbry">Malmesbry
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" value="CY" id="Bellvile">Bellvile
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" value="CA" id="Cape Town">Cape Town
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" value="" id="All">All
    </label>

  </div>
</form>

<br>
<br>


<p class="text-success">
      {{#if messages.error}}
      {{messages.error}}
      {{/if}}
    </p>


{{#each reg}}
<div id="reNumber">
    <p>{{this.name}}</p>
</div>
{{/each}}



    </div>
      <!-- </form> -->
    </div>
</div>
