<br>
<br>
<div align="center">

  <div class="text-success">                                                                                                                                                      <div class="container">
<h1>Registration Form</h1>
</div>
<br>
  <div class="form">

    <form method="post" >
      <!-- action="/greetings" -->
    <input class="name" type="text" placeholder="Add registration" name="name" value=""></input>
    <button class="btn btn-primary btn" type="submit">Add</button>
    <button class="btn btn-primary btn" type="submit">Show</button>
    <!-- <button class="btn btn-primary btn" type="reset" >Reset</button> -->
<!-- <a href="/" class="btn-primary btn">Show</a> -->

    <br>
    <br>

    <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="malmesbry" autocomplete="off" checked>Malmesbry
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="Bellvile" autocomplete="On">Bellvile
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="Cape Town" autocomplete="off">Cape Town
  </label>
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="All" autocomplete="off" checked>All
  </label>

</div>

<br>
<br>

{{#each reg}}
<div id="reNumber">
    <p>{{this.name}}</p>
</div>
{{/each}}

    </div>
      <!-- </form> -->
    </div>
</div>
